<widget id="com.zll.fangxun" version="0.1.1">
<name>防汛查询</name>

<description>
</description>

<author email="robin.qiwei@163.com">
ZhaoLinLiu      
</author>        
<access origin="(http://.*)|(file://.*)" subdomains="true" />  
<content src="http://www.baidu.com/" />

    <preference name="KeepRunning" value="false"/>
    <preference name="webviewbounce" value="true" />
</widget>