<widget id="com.zll.fangxun" version="0.1.1">
<name>防汛查询</name>

<description>
</description>

<author email="robin.qiwei@163.com">
ZhaoLinLiu      
</author>        

<content src="index.html" />
<access orgin="*" />
<plugin name="cordova-plugin-inappbrowser" spec="1.0.1" source="pgb" />
    <preference name="KeepRunning" value="false"/>
    <preference name="webviewbounce" value="true" />
</widget>